* {
    margin: 0;
    padding: 0;
}

.fa-bars {
    color: #B4B4B4;
}

header img{
    width: 100px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}


.search {
    display: flex;
    border: 1px solid grey;
    width: 50%;
}

.search input {
    border: none;
    width: 90%;
    height: 35px;
}

.search input[placeholder="Search"]{
    font-size: 18px;
}

.search button {
    width: 10%;
    border: none;
    height: 35px;
}

.fa-upload {
   color: #808080;
}

.sign-in {
    height: 35px;
    width: 4%;
    padding: 0 5px;
    background-color:#167AC6;
    border: none;
    color: white;
    border-radius: 4px;
}