* {
    margin: 0;
    padding: 0;
}

.fa-bars {
    color: #B4B4B4;
}

header img{
    width: 100px;
}

header nav ul{
    list-style: none;
}


.firstnav, .secondnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstnav i {
    padding-right: 7%;
}

.firstnav img{
    padding-left: 7%;
}

.secondnav i {
    padding-right: 80%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 3%;
}


.search {
    display: flex;
    border: 1px solid grey;
    width: 75%;
}

.search input {
    border: none;
    width: 93%;
    height: 35px;
}

.search input[placeholder="Search"]{
    font-size: 18px;
}

.search button {
    width: 7%;
    border: none;
    height: 35px;
}

.fa-upload {
   color: #808080;
}

.sign-in {
    height: 35px;
    padding: 0 12px;
    background-color:#167AC6;
    border: none;
    color: white;
    border-radius: 4px;
}